<h4 class="text-center">Login</h4>
<form class="form mt-4"
      [formGroup]="loginForm"
      (submit)="login()">
    <div class="form-group">
        <input class="form-control" placeholder="User name" autofocus
               formControlName="username"
               #usernameInput>
        <ap-input-message
            message="User name is required!"
            *ngIf="loginForm.get('username').errors?.required"
        ></ap-input-message>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" placeholder="Password"
               formControlName="password">
        <ap-input-message
            message="Password is required!"
            *ngIf="loginForm.get('password').errors?.required"
        ></ap-input-message>
    </div>
    <button type="submit" class="btn btn-primary btn-block"
            [disabled]="loginForm.invalid">Login</button>
</form>
<p>
    Not a user? <a>Register now</a>
</p>
