<header class="sticky-top">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand text-danger">
            <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/250px-Angular_full_color_logo.svg.png"
                width="30"/> AngularPic</a>
        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle"></i>
            <a class="ml-2">{{ user?.name }}</a>
        </div>
        <ng-template #login>
            <span class="navbar-text">
                <a>Please, login!</a>
            </span>
        </ng-template>
    </nav>
</header>
